.o-centerContainerPlusSome, .o-centerContainer {
  display:block; 
  margin-left: auto !important; 
  margin-right: auto !important;
}

.o-centerContainer {
	width: $wrapper-max-width;
	max-width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}