.c-checkout-tabs {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		padding: 20px 10px;
		border-left: 13px solid #CECECE;
		margin-bottom: 6px;
		cursor: pointer;
		transition: all .2s ease-in-out;

		&.active, &:hover {
			border-color:  #77B442;
			
			button {
				color: #000000;
			}
		}
	}

	button {
		background: none;
		border: 0;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		transition: all .2s ease-in-out;
		color: #CECECE;
	}
}

.c-checkout-tabs {
	@include tablet-down {
		margin-bottom: 1rem;

		ul {
			display: flex;
			justify-content: space-between;
		}

		li {
			border-left: 0;
			border-bottom: 6px solid #CECECE;
			width: 24%;
			padding: 5px 0;
		}

		button {
			padding: 0;
		}
	}

	@include phone {
		button {
			font-size: 10px;
		}
	}
}