.c-checkout-panel {
	border-top: 2px solid #D1D1D1;
	padding-top: 20px;
	padding-bottom: 20px;

	&:first-of-type {
		padding-top: 0;
		border-top: 0;
	}

	h4 {
		font-size: 25px;
		line-height: 29px;
		color: #CECECE;
		margin-bottom: 0;
		transition: all .2 ease-in-out;
	}

	button {
		background: #FF7000;
		color: #FFFFFF;
		font-weight: bold;
		font-size: 16px;
		line-height: 29px;
		border-radius: 15px;
		padding: 8px 30px;
		border: 0;
	}

	span {
		font-style: italic;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		display: block;
		margin-bottom: 1rem;
		color: #464646;
	}
}

.c-checkout-panel__inner {
	display: none;
}

.c-checkout-panel--active {
	h4 {
		font-size: 25px;
		line-height: 29px;
		color: #000000;
		margin-bottom: 36px;
	}

}

.c-checkout-panel__inner--active {
	display: block;
}

.c-button-wrapper {
	text-align: right;
}

.trust-badges {
	display: block;
	width: 90%;
	margin: 3rem auto 1rem auto;
}