.c-order-summary {
	background: #F4F4F4;
	border-radius: 5px;
	padding: 25px;

	table {
		margin: 2rem auto;
	}

	th {
		text-align: left;
		border-top: 2px solid #A5A5A5;
		padding: 15px 0;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 26px;
		/* identical to box height */

		color: #2C2E31;
	}

	td {
		text-align: right;
		border-top: 2px solid #A5A5A5;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 26px;
		/* identical to box height */

		color: #2C2E31;
	}

	tr {

	}
}

.product-details {
	table {
		img {
			width: 100px;
			height: auto;
			float: left;
		}
		td {
			border: 0;
		}
		th {
			border: 0;
		}
	}

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		/* or 120% */

		color: #2C2E31;
		padding: 15px 15px 15px 40px;
		list-style: none;
		background: url(../images/check.png);
		background-position: left center;
		background-repeat: no-repeat;
	}
}

.order-summary-notes {
	font-family: Roboto;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	/* or 144% */

	color: #2C2E31;
}