.checkout-wrapper {
	display: flex;
	margin-top: 55px;

	@include tablet-down {
		flex-direction: column;
		margin-top: 25px;
	}
}

.c-checkout-tabs {
	width: 170px;

	@include tablet-down {
		width: 100%;
	}
}

.c-checkout-panels {
	width: 40%;
	padding: 0 25px;
	flex-grow: 1;

	@include tablet-down {
		width: 100%;
		padding: 0;
		margin-bottom: 1rem;
	}
}

.c-order-summary  {
	width: 40%;

	@include tablet-down {
		width: 100%;
	}
}