label {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #333538;
	display: block;
	margin-bottom: 6px;
	padding: 0;
}

input[type="text"], input[type="phone"], input[type="email"] {
	border: 1.5px solid #DDDDDD;
	height: 40px;
	border-radius: 6px;
	width: 100%;
}

select {
	height: 40px;
	width: 100%;
}

.checkbox-wrapper {
	display: flex;
	margin-bottom: 1rem;

	input[type="checkbox"] {
		margin-right: 10px;
	}
}

.field-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	align-items: center;

	> div {
		width: 49%;
	}
}

.label-flex {
	width: 35%;
}

.single-field-flex {
	width: 63% !important;
}

.single-field-flex--small {
	width: 31% !important;
}

.double-field-flex {
	width: 31% !important;
}