header {
	background: #77B442;
}

.c-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 1rem;
	padding-bottom: 1rem;

	img {
		width: 150px;
		max-width: 100%;
	}

	nav {
		@include phone {
			display: none;
		}
		
		ul {
			display: flex;
			list-style: none;
		}
		li {
			color: #FFFFFF;
			margin: 0 1.5rem;
		}
		a {
			text-decoration: none;
			color: #FFFFFF;
		}
	}
}